html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: 'Lato';
  overflow-y: scroll;
}

.root {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #DECBA4, #ab8c71);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.application {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #DECBA4, #ab8c71);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.container {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

.sorters,
.filters {
  display: flex;
  flex-wrap: wrap;
}

.sorters {
  margin-top: 30px;
}

.list {
  margin-top: 80px;
}

.list * {
  outline: none;
}