
body {
  font-family: 'Lato';
  /*font-family: 'Montserrat';*/
  font-size: 14px;
  letter-spacing: 0.5px;
}

body h1 {
  margin: 30px 0;
  font-family: 'Montserrat';
  font-size: 30px;
  letter-spacing: 2px;
  color: #fec631;
}

body .header {
  background-color: #51abda;
}

body .container {
  max-width: 1200px;
  margin: 0 auto;
}