html {
  min-height: 100vh;
}

body {

  font-family: 'Lato';
  padding-top: 30px;
}

body:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  background: #DECBA4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #DECBA4, #ab8c71); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #DECBA4, #ab8c71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.loader {
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #652f00;
  line-height: 26px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  z-index: 100;
}

.loader-bar > * {
  width: 100% !important;
}

.loader-message {
  margin-top: -4px;
  padding-top: 4px;
  height: 26px;
  background: #DECBA4;
}

.header {
  color: #652f00;
  padding: 50px 0;
}

.header .title {
  font-size: 60px;
  font-weight: 400;
  font-family: 'Montserrat';
  text-align: center;
  margin: 0;
}

.header .subtitle {
  text-align: center;
  font-size: 24px;
}

.header button {
  display: block;
  margin: 30px auto;
  padding: 20px 30px;
  border: 4px solid #DECBA4;
  border-radius: 10px;
  color: #eee;
  background: #ab8c71;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.25s;
}

.header button:hover {
  color: white;
  background-color: #652f00;
  border-color: #ab8c71;
}

.sorting,
.filters {
  display: flex;
  flex-wrap: wrap;
}

.sorting {
  margin-top: 30px;
}

.toggle {
  margin: 0 10px 10px 0;
  margin-left: 0;
  padding: 0 10px;
  border-radius: 2px;
  line-height: 30px;
  width: 130px;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.25s;
  background: #DECBA4;
  color: #666;
}

.toggle svg {
  transition: 0.25s;
  opacity: 0;
}

.toggle.active {
  background-color: white;
  color: black;
}

.toggle.active svg {
  opacity: 0.25;
}

.toggle .type {
  opacity: 0.5;
}

.toggle svg,
.toggle svg path {
  display: block;
  width: 10px;
  height: 10px;
}

.toggle:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.toggle.active:hover svg {
  opacity: 1;
}

.list {
  padding-top: 80px;
}

.list * {
  outline: none;
}

.book {
  background-color: white;
  border-radius: 2px;
  height: 70px;
  display: flex;
  flex-direction: row;
}

.book.horror-on-halloween {
  background-color: #ffc8c8;
}

.book.is-finance-on-month-last-friday {
  background-color: #cdffcf;
}

.book-icon {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.book-icon:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background: #652f00;
  border-radius: 50%;
}

.book-icon svg {
  z-index: 1;
}

.book-icon svg,
.book-icon svg path {
  display: block;
  width: 20px;
  height: 20px;
}

.book-icon svg path {
  fill: white;
}

.book-meta,
.book-basics {
  margin: 15px 0;
  font-size: 14px;
}

.book-basics strong {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}

.book-basics > *,
.book-meta > * {
  line-height: 20px;
}

.book-basics .muted {
  opacity: 0.75;
}

.book-meta {
  padding-right: 15px;
  margin-left: auto;
  text-align: right;
}

.book-meta .muted {
  opacity: 0.5;
}